@font-face {
   font-family: 'Quicksand';
   src: url('/Quicksand-Light.woff2') format('woff2'),
      url('/Quicksand-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
}

body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
   margin: 0;
   padding: 0;
   color: white;
   font-family: 'Quicksand';
   letter-spacing: 2px;
   list-style-type: none;
   text-decoration: none;
}

body {
   background: rgb(123, 0, 31);
   background: radial-gradient(
      circle,
      rgb(123, 0, 35) 0%,
      rgb(86, 20, 20) 100%
   );
   overflow: hidden;
}
